<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Willkommen!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li><a href="/logout">Ausloggen</a></li>
                    {% else %}
                        <li><a href="{{ path('security_login')}}"> Einloggen</a></li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li><a href="/admin">Admin</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
        {% block body %}
        {% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
