{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <h4>Wählen Sie eine Kategorie</h4>
    <ul class="list-group">
        {% for cat in cats %}
            <li class="list-group-item"><a href='kategorie/{{ cat.catid|e }}'><img width='50' src='{{ cat.uri|e }}'> {{ cat.description|e }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}